<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scrumgztrack"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="Scrum GZ Track"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.scrumgztrack.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.scrumgztrack.OJTOptionDialog"
            android:label="@string/title_activity_ojtoption_dialog"
            android:theme="@style/myDialog" >
        </activity>
        <activity
            android:name="com.example.scrumgztrack.TeamListDialog"
            android:label="@string/title_activity_team_list_dialog" >
        </activity>
        <activity
            android:name="com.example.scrumgztrack.CreateTeamDialog"
            android:label="@string/title_activity_create_team_dialog"
            android:theme="@style/myDialog" >
        </activity>
        <activity
            android:name="com.example.scrumgztrack.TeamListAddDialog"
            android:label="@string/title_activity_team_list_add_dialog"
            android:theme="@style/myDialog" >
        </activity>
        <activity
            android:name="com.example.scrumgztrack.ManageTeam"
            android:label="@string/title_activity_manage_team" >
        </activity>
    </application>

</manifest>
